body {
  font-family: 'Roboto', sans-serif;
}

#app {
  max-width: 400px;
  margin: auto;
}

h1 {
  background: #414b92;
  color: #fff;
  padding: 15px;
  font-size: 28px;
}
h1 > .count { float: right; }

h2 {
  margin: 0;
  font-size: 20px;
}

#user-list { margin: 0; padding: 0; }
#user-list > li, #add-user {
  list-style: none;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin: 15px 0;
}
#user-list > li:hover > .btns {
  display: block;
}

#add-user button.cancel {
    display: none;
}

.btns {
  float: right;
}
.btns button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0 5px;
  font-size: 12px;
  font-style: italic;
  color: #999;
}
.btns button:hover {
  text-decoration: underline;
}

.name {
  font-weight: bold;
  font-size: 18px;
}

.addr {
  font-weight: 300;
  font-style: italic;
  font-size: 16px;
}

.user-form input[type=text] {
  box-sizing: border-box;
  padding: 5px;
  font-size: 14px;
  margin: 5px 0;
  width: 100%;
}
.user-form input.half {
  width: 50%;
}
.user-form button.submit {
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  background: #90dca4;
  border: 0;
  padding: 5px 10px;
}
.user-form button.cancel {
  font-size: 14px;
  cursor: pointer;
  background: transparent;
  border: 0;
  padding: 5px 10px;
  font-style: italic;
  color: #888;
}
.user-form button.cancel:hover {
  text-decoration: underline;
}

#footer {
  text-align: center;
  color: #999;
  font-size: 12px;
}
#footer a {
  color: inherit;
}
